body {
    background-color: #0e2e49;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: 0;
}

header {
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    max-height: 66px;
    margin-bottom: 5%;
    display: inline-block;
}
header .logo{
    padding-left: 2%;
    margin-right: 3%;
    max-height:inherit;
    display: inline-block;
}
header .nav {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    letter-spacing: 1.6px;
    display: inline;
    vertical-align: middle;
    float:right;
    height: inherit;
    margin-top:15px;
}
    header .nav li, header .nav li a {
        display: inline-block;
        text-decoration: none;
        transition: 0.4s;
        color: #0e2e49;
        font-family: 'Gotham',Arial, sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-right: 25px;
        text-transform: uppercase;
        height: 100%;
    }
.nav li a:hover {
    background-color: #0e2e49;
    height:35px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    padding:10px 10px 0 10px;
    margin-top:0;
}


.main{
    text-align: center;
    color: white;
}

.info {
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    width: 1200px;
    padding: 25px;
    margin: 10px 25px 10px 25px;
    border-radius: 25px;
    display: inline-block;
}

.data {
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    width: 90%;
    padding: 25px;
    margin: 2% 25px 25px 25px;
    border-radius: 25px;
    display: inline-block;
    color: black;
}

.data thead tr,
.data tbody tr {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    width: 95%;
    padding: 10px;
    display: inline-block;
    overflow:hidden;
}
.approved, .changes, .fixes, .communication, .comments {
    width: 250px!important;
    background-color: rgba(255,255,255,0.7);
    text-align:left;
}

.data thead tr th{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    color:black;
}
.email, .date {
    width: 150px!important;
    background-color: rgba(255,255,255,0.7);
}

.score, .dept{
    width: 100px!important;
	background-color: rgba(255,255,255,0.7);
}

.adminFunctions{
    line-height: 20px;
    color: white;
}

.adminFunctions input{
    position:absolute;
    margin: 5px 20px 20px 0px;
}

h1{
    margin-top: 0;
}