body {
    background-color: rgba(56, 182, 230, 0.62);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin:0;
    padding: 0;
    height:100%;
    background-size: 0;
}

#account {
    background-color: rgba(237, 84, 76, 0.62);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin:0;
    padding: 0;
    height:100%;
    background-size: 0;
}

header {
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    margin-bottom: 5%;
    display: inline-block;
}
header .logo{
    padding-left: 2%;
    margin-right: 3%;
    display: inline-block;
}
header .nav {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 20px 0px;
    letter-spacing: 1.6px;
    display: inline-block;
}
    header .nav li, header .nav li a {
        display: inline-block;
        text-decoration: none;
        transition: 0.4s;
        color: #0e2e49;
        font-family: 'Gotham',Arial, sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-right: 25px;
        text-transform: uppercase;
        height: 100%;
    }
.nav li a:hover {
    background-color: #0e2e49;
    height:35px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    padding:10px 10px 0 10px;
    margin-top:0;
}


.form {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    width: 300px;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    display: inline-block;
}

.main{
    text-align: center;
}

.info {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    width: 1200px;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    display: inline-block;
}

.data {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    width: 90%;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    display: inline-block;
}

.data thead tr,
.data tbody tr {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    width: 95%;
    padding: 10px;
    display: inline-block;
}

.data thead tr th{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.email, .score, .dept{
    width: 500px;
	background-color: rgba(255,255,255,0.7);
}

/*svg path {
    will-change: auto;
    stroke-width: 20px;
    stroke-miterlimit: round;
    transition: stroke-dashoffset 850ms ease-in-out;
}*/

#searchbar{ 
	width: 250px;
	height: 20px;
	margin-right: 25px;
	border-radius: 25px;
	background-color: rgba(255,255,255,0.7);		
}

#minScore, #maxScore, #sortFilter{ 
	width: 100px;
	height: 20px;
	margin-right: 25px;
	border-radius: 25px;
	background-color: rgba(255,255,255,0.7);
}

#sortFilter {height: 30px;}


#searchButton, #feedbackButton, #emailtodb, #loginButton {height: 30px; background-color: rgba(255,255,255,0.9);}

